<a href="https://colab.research.google.com/github/zzhining/python_basic/blob/master/02_string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문자열

- 문자열: 파이썬에서는 따옴표로 둘러싼 문자 집합을 의미

## 문자열 생성
- 시작과 끝에 큰따옴표 (") 또는 작은따옴표 (')를 지정
- 같은 기호를 사용해야 함

In [1]:
print('test')

test

In [2]:
print("test")

test

문자열을  변수에 저장한 후 print() 함수로 출력하는  예

In [3]:
string1 = "String Test 1"
string2 = 'String Test 2'
print(string1)
print(string2)

String Test 1
String Test 2

변수에 할당한 문자열의 타입 확인

In [4]:
type(string1)

str

In [5]:
type(string2)

str

문자열 안에 큰따옴표나 작은따옴표 포함하기

In [6]:
string3 = 'This is a "double" quotation test'
string4 = "This is a 'single' quotation test"
print(string3)
print(string4)

This is a "double" quotation test
This is a 'single' quotation test

- 문자열에 큰따옴표와 작은따옴표를 모두 포함하고 싶거나 문장을 여러 행 넣고 싶거나 입력한 그대로 출력하고 싶을 때
- 문자열 전체를 삼중 큰따옴표 (""")나 삼중 작은따옴표 (''')로 감쌈

In [8]:
 long_string1 = '''[삼중 작은따옴표를 사용한 예]
    파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
    큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다.'''

long_string2 = """[삼중 큰따옴표를 사용한 예]
    파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
    큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다."""

print(long_string1)
print(long_string2)

[삼중 작은따옴표를 사용한 예]
   파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
   큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다.
[삼중 큰따옴표를 사용한 예]
   파이썬에는 삼중 따옴표로 여러 행의 문자열을 입력할 수 있습니다.
   큰따옴표(")와 작은따옴표(')도 입력할 수 있습니다.

## 문자열 다루기
- 더하기 연산자 (+)와 곱하기 연산자 (*)를 이용 가능
- 더하기 연산자: 문자열끼리 연결 (concatenation)해 문자열을 하나로 합침
- 곱하기 연산자: 곱한 만큼 문자열을  반복

In [10]:
a = 'Enjoy '
b = 'python!'
c = a + b
print(c)

Enjoy python!

In [11]:
print(a * 3)

Enjoy Enjoy Enjoy