<a href="https://colab.research.google.com/github/zzhining/python_basic/blob/master/03_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List(리스트)

- 여러 개의 데이터를 묶어서 처리할 때 사용

## List 만드는 방법
- 대괄호`[   ]`를 사용
- 각각의 데이터는 콤마(`,`)를 사용해서 구분
- 대괄호만 작성 시([    ]): 빈 List
- List 안에 다양한 데이터를 넣을 수 있음

In [1]:
# 1번 학생의 국어, 영어, 수학, 과학 점수가 각각 80, 90, 95, 100
score = [80, 90, 95, 100]
score

[80, 90, 95, 100]

## List에서  각 항목 지정 방법
`'변수명[i]'`로  지정

In [2]:
score[0]

80

In [3]:
score[2]

95

In [4]:
score[-1]

100

In [5]:
empty = []
empty

[]

##List의 특정 항목을 변경할 경우
`변수명[i] = new_data`를 이용

In [6]:
score[2] = 50
score

[80, 90, 50, 100]

List에 문자열을 입력하는 예

In [7]:
student = ['영희', '철수', '순희', '영수']
student

['영희', '철수', '순희', '영수']

In [8]:
student[3]

'영수'

숫자, 문자열, 불, List를  혼합한 형태의  List

In [9]:
school = ['영희', '철수',True, '순희', '영수', 80, 90, 95, 100, score]
school

['영희', '철수', True, '순희', '영수', 80, 90, 95, 100, [80, 90, 50, 100]]

In [10]:
school[5]

80

# List 연산

▶ `+` 연산: 두 List를 연결
▶ `*` 연산: 곱한 수만큼 반복
▶ List 항목 일부 가져오기
 - list[start : end]
 - list[start : end : step]

▶ List 항목 제거하기
  - `del list[항목]`
  
▶ List 안에 값이 있는지 여부 확인
 - `in `: 값 in list
 - 결과: true/false

## List 더하기
두 List 연결

In [11]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]
list1 + list2

[1, 2, 3, 4, 5, 6, 7, 8]

## List 곱하기
List를 곱한 수만큼 반복

In [12]:
list1 * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

## List  중 일부  항목 가져오기
인덱스의 범위를  지정해 List 중 일부 항목을 가져옴




> `List[i_start:i_end]` <br>
> `List[i_start:i_end:i_step]`





- `i_start`, `i_end`, `i_step`은 각각 인덱스의 시작, 끝, 스텝 (증가 단계)
- `i_start`에서 `i_end - 1`까지의 List를 반환
- `i_start`를 생략하면  인덱스는 0으로 간주
- `i_end`를 생략하면 인덱스는 마지막이라고 간주

In [13]:
list3 = [1,2,3,4,5,6,7,8,9,0]
list3[0:5]

[1, 2, 3, 4, 5]

In [14]:
list3[5:]

[6, 7, 8, 9, 0]

In [15]:
list3[:3]

[1, 2, 3]

In [16]:
list3[::2]

[1, 3, 5, 7, 9]

In [17]:
list3[0: 9 : 3]

[1, 4, 7]

## List에서 항목 삭제하기
`del List[i]`

In [18]:
del list3[4]
list3

[1, 2, 3, 4, 6, 7, 8, 9, 0]

## List에서  항목의  존재  여부 확인하기
`항목 in List`

List에 항목이 있으면 `True`, 없으면 `False를` 반환

In [19]:
3 in list3

True

In [20]:
99 in list3

False

## 자주 사용하는 List 메소드

:`변수명.메서드()`

1) append()
 - List에서 항목을 맨 마지막에 추가

2) insert()
 - List에서 특정 위치에 항목을 추가

3) extend()
 - List에서 항목 여러 개를 마지막에 추가

4) remove()
 - 입력값과 첫번째로 일치하는 항목을 List에서 삭제

5) pop()
 - List의 마지막 항목을 제거한 후에 반환

6) index()
 - List의 위치를 반환

7) count()
 - List 안에 포함된 항목의 개수를 반환

8) sort()
 - 순방향 정렬

9) reverse()
 - List 항목을 역순으로 정렬

In [21]:
list4 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list4

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### append()

List에서 항목을 맨 마지막에 추가

In [22]:
list4.append(10)
list4

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### insert()

List에서 특정 위치에 항목을 추가

In [23]:
list4.insert(4, 'test')
list4

[0, 1, 2, 3, 'test', 4, 5, 6, 7, 8, 9, 10]

### extend()

List에서 항목 여러 개를 마지막에 추가

In [24]:
list4.extend([11, 12, '십삼'])
list4

[0, 1, 2, 3, 'test', 4, 5, 6, 7, 8, 9, 10, 11, 12, '십삼']

### remove()

입력값과 첫번째로 일치하는 항목을 List에서 삭제

In [25]:
list4.append('test')
list4

[0, 1, 2, 3, 'test', 4, 5, 6, 7, 8, 9, 10, 11, 12, '십삼', 'test']

In [26]:
list4.remove('test')
list4

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, '십삼', 'test']

### pop()

List의 마지막 항목을 제거한 후에 반환

In [27]:
list4.pop()
list4

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, '십삼']

### index()

List의 위치를 반환

In [28]:
list4.index('십삼')

13

### count()

List 안에 포함된 항목의 개수를 반환

In [29]:
list4.count(4)

1

In [30]:
list5 = [1,1,1, 3,3,3, 5,5, 7,7,7,7, 9]
list5.count(0)

0

In [31]:
list6 = [2 ,4, 3, 8,4, 0, 3, 4, 1, 5, 6, 2]
list6

[2, 4, 3, 8, 4, 0, 3, 4, 1, 5, 6, 2]

### sort()

순방향 정렬

In [32]:
list6.sort()
list6

[0, 1, 2, 2, 3, 3, 4, 4, 4, 5, 6, 8]

 ### reverse()

List 항목을 역순으로 정렬

In [33]:
list6.reverse()
list6

[8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 1, 0]