# 리스트(List)

- 여러 개의 데이터를 묶어서 처리할 때 사용
- 대괄호([])를 사용
- 각각의 데이터는 콤마(,)를 사용해서 구분
- 빈 리스트: 대괄호([])
- 리스트 안에 다양한 데이터를 넣을 수 있음

In [1]:
score = [80, 90, 95, 100]
score

[80, 90, 95, 100]

In [2]:
score[0]

80

In [3]:
score[2]

95

In [4]:
empty = []
empty

[]

In [5]:
student = ['영희', '철수', '순희', '영수']
student

['영희', '철수', '순희', '영수']

In [7]:
student[3]

'영수'

In [8]:
school = ['영희', '철수', '순희', '영수', 80, 90, 95, 100]
school

['영희', '철수', '순희', '영수', 80, 90, 95, 100]

In [9]:
school[5]

90

# 리스트 연산

#### + 연산: 두 리스트를 연결
#### * 연산: 곱한 수만큼 반복
#### 리스트 항목 일부 가져오기
 - list[start : end]
 - list[start : end : step]
 
#### 리스트 항목 제거하기
  - del list[항목]
  
#### 리스트 안에 값이 있는지 여부 확인
 - in : 값 in list
 - 결과: true/false

In [10]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]
list1 + list2

[1, 2, 3, 4, 5, 6, 7, 8]

In [11]:
list1 * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [14]:
list3 = [1,2,3,4,5,6,7,8,9,0]
list3[0:5]

[1, 2, 3, 4, 5]

In [17]:
list3[0: 9 : 3]

[1, 4, 7]

In [21]:
del list3[4]
list3

[1, 2, 3, 4, 7, 8, 9, 0]

In [22]:
3 in list3

True

In [23]:
5 in list3

False

## 자주사용하는 list 메소드

1) append()
 - 리스트에서 항목을 맨 마지막에 추가
 
2) insert()
 - 리스트에서 특정 위치에 항목을 추가
 
3) extend()
 - 리스트에서 항목 여러 개를 마지막에 추가
 
4) remove()
 - 입력값과 첫번째로 일치하는 항목을 리스트에서 삭제
 
5) pop()
 - 리스트의 마지막 항목을 제거한 후에 반환
 
6) index()
 - 리스트의 위치를 반환
 
7) count()
 - 리스트 안에 포함된 항목의 개수를 반환
 
8) sort()
 - 순방향 정렬
 
9) reverse()
 - 리스트 항목을 역순으로 정렬

In [24]:
list4 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
list4

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
list4.append(10)

In [26]:
list4

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
list4.insert(4, 'test')
list4

[0, 1, 2, 3, 'test', 4, 5, 6, 7, 8, 9, 10]

In [30]:
list4.extend([11, 12, '십삼'])
list4

[0, 1, 2, 3, 'test', 4, 5, 6, 7, 8, 9, 10, 11, 12, '십삼']

In [31]:
list4.append('test')
list4

[0, 1, 2, 3, 'test', 4, 5, 6, 7, 8, 9, 10, 11, 12, '십삼', 'test']

In [32]:
list4.remove('test')
list4

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, '십삼', 'test']

In [33]:
list4.pop()

'test'

In [34]:
list4

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, '십삼']

In [35]:
list4.index('십삼')

13

In [36]:
list4.count(4)

1

In [40]:
list5 = [1,1,1, 3,3,3, 5,5, 7,7,7,7, 9]
list5.count(0)

0

In [41]:
list6 = [2 ,4, 3, 8,4, 0, 3, 4, 1, 5, 6, 2]
list6

[2, 4, 3, 8, 4, 0, 3, 4, 1, 5, 6, 2]

In [42]:
list6.sort()

In [43]:
list6

[0, 1, 2, 2, 3, 3, 4, 4, 4, 5, 6, 8]

In [44]:
list6.reverse()
list6

[8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 1, 0]