<a href="https://colab.research.google.com/github/zzhining/python_basic/blob/master/11_function_lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수
- 함수 (function)는 특정 기능을 수행하는 코드의 묶음
- 함수를 이용하면 같은 기능을 수행하는 코드를  반복해서 작성할 필요가 없음
- 코드가 깔끔해지고 한번 만든 코드를 재사용할 수 있어서 코드를 작성하기가 편해짐
- 내장 함수의 예: print(), type()

# 함수의 기본 구조
- **인자**: 입력값
    - 인자를 통해 함수에 값을 전달
- **반환 값**: 결과값
---
- **함수 정의**: 함수 만들기
- **함수 호출**: 정의된 함수 부르기

#함수의 구조
```
def 함수명([인자1, 인자2, ··· , 인자n]):
  <코드 블록>
  [return <반환 값>]
```
---
# 함수의 형태
- 인자도 반환 값도 없는  함수
- 인자는 있으나 반환 값이 없는  함수
- 인자도 있고 반환 값도 있는  함수


## 인자도 반환 값도 없는 함수

함수 정의

In [ ]:
def my_func():
    print("My first function!")
    print("This is a function.")

함수 호출

In [ ]:
my_func()

## 인자는 있으나 반환 값이 없는 함수

함수 정의

In [ ]:
def my_friend(friendName):
    print("{}는 나의 친구입니다.".format(friendName))

함수 호출

In [ ]:
my_friend("철수")
my_friend("영미")

## 인자도 있고 반환 값도 있는 함수

함수 정의

In [ ]:
def my_calc(x,y):
    z = x * y
    return z

함수 호출

In [ ]:
my_calc(3,4)

----

# 변수의 유효 범위
- 함수 안에서 정의한 (혹은 생성한) 변수는 함수 안에서만 사용할 수 있음
- 함수 안에서 생성한 변수는 함수를 호출해 실행되는 동안만 사용할 수 있고 함수 실행이 끝나면 더는 사용할 수 없음
- 지역 변수 (local variable) vs 전역 변수 (global variable)

같은 이름의 변수를 지역 변수와 전역 변수로 모두 사용한 예

In [ ]:
a = 5 # 전역 변수
def func1():
    a = 1 # 지역 변수. func1()에서만 사용
    print("[func1] 지역 변수 a =", a)
def func2():
    a = 2 # 지역 변수. func2()에서만 사용
    print("[func2] 지역 변수 a =", a)

def func3():
    print("[func3] 전역 변수 a =", a)

def func4():
    global a   # 함수 내에서 전역 변수를 변경하기 위해 선언
    a = 4      # 전역 변수의 값 변경
    print("[func4] 전역 변수 a =",a)

앞서 정의한 각 함수를 호출

In [ ]:
func1() #함수 func1() 호출
func2() #함수 func2() 호출
print("전역 변수 a =", a) # 전역 변수 출력

In [ ]:
func3() #함수 func3() 호출
func4() #함수 func4() 호출
func3() #함수 func3() 호출

----

# 람다(lambda)
- 한 줄로 함수를 표현
```
lambda <인자> : <인자 활용 수행 코드>
(lambda <인자> : <인자 활용 수행 코드>) (<인자>)
```

## 람다 함수의 사용
```
lambda_function = lambda <인자> : <인자 활용 수행 코드>
lambda_function(<인자>)
```

람다 함수 호출

In [ ]:
(lambda x : x**2) (3)

람다 함수를 변수에 할당한 후에 인자를 입력해서 호출

In [ ]:
mySquare = lambda x : x**2
mySquare(2)

여러 개의 인자를 입력받아 연산 결과를 반환하는 람다 함수

In [ ]:
mySimpleFunc = lambda x,y,z : 2*x + 3*y + z
mySimpleFunc(1,2,3)

#유용한 내장 함수

## 형 변환 함수


###정수형으로 변환: int()

In [ ]:
 [int(0.123), int(3.5123456), int(-1.312367)]

### 실수형으로 변환: float()

In [ ]:
[float(0), float(123), float(-567)]

### 문자형으로 변환

In [ ]:
[str(123), str(459678), str(-987)]

### 리스트, 튜플, 세트형으로  변환
- list()	튜플/세트  데이터를  리스트로 변환
- tuple()	리스트/세트  데이터를  튜플로 변환
- set()	리스트/튜플  데이터를  세트로 변환

In [ ]:
list_data = ['abc', 1, 2, 'def']
tuple_data = ('abc', 1, 2, 'def')
set_data = {'abc', 1, 2, 'def'}

# 각 데이터 타입 확인
[type(list_data), type(tuple_data), type(set_data)]

In [ ]:
# list() 함수를 이용해 리스트로 변환
print("리스트로 변환: ", list(tuple_data), list(set_data))

# tuple() 함수로 튜플로 변환하겠습니다.
print("튜플로 변환:", tuple(list_data), tuple(set_data))

# set() 함수를 이용해 세트로 변환
print("세트로 변환:", set(list_data), set(tuple_data))

### bool 함수
- True 혹은 False의 결과를  반환
- 숫자를 인자로 bool 함수 호출
    - 숫자 0이면 False, 0 이외의 숫자이면 True를 반환
- 문자열을 인자로 bool 함수 호출
    - 문자열이 있으면 True를 반환, 없으면 False를 반환

In [ ]:
bool(0) # 인자: 숫자 0

In [ ]:
# 0 이외의 숫자를 인자로 삼아 bool() 함수를 호출
bool(1) # 인자: 양의 정수

In [ ]:
bool(-10) # 인자: 음의 정수

In [ ]:
bool(5.12) # 인자: 양의 실수

In [ ]:
bool(-3.26) # 인자: 음의 실수

In [ ]:
bool('a') # 인자: 문자열 'a'

In [ ]:
bool(' ') # 인자: 빈 문자열(공백)

In [ ]:
bool('') # 인자: 문자열 없음

In [ ]:
bool(None) #인자: None

리스트는 항목이 있으면 True, 없으면 False를 반환

In [ ]:
myFriends = []
bool(myFriends) # 인자: 항목이 없는 빈 리스트

In [ ]:
# 항목이 있는 리스트를 인자로 bool() 함수를 호출
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
bool(myFriends) # 인자: 항목이 있는 리스트

In [ ]:
# 항목이 없는 튜플과 있는 튜플을 인자로 bool() 함수를 호출
myNum = ()
bool(myNum) # 인자: 항목이 없는 빈 튜플

In [ ]:
myNum = (1,2,3)
bool(myNum) # 인자: 항목이 있는 튜플

In [ ]:
# 항목 유무에 따라 다음과 같이 각각 False와 True를 반환
mySetA = {}
bool(mySetA) # 인자: 항목이 없는 빈 세트

In [ ]:
mySetA = {10,20,30}
bool(mySetA) # 인자: 항목이 있는 세트

⭐ **bool 함수의 활용 **⭐ <br>
name 인자에 문자열이 있으면 이름을 출력하고, 없으면 입력된 문자열이 없다고 출력하는 예

In [ ]:
def print_name(name):
    if bool(name):
        print("입력된 이름:", name)
    else:
        print("입력된 이름이 없습니다.")

In [ ]:
# print_name() 함수 호출
print_name("James")

In [ ]:
print_name("")

## 최솟값과  최댓값을  구하는 함수
- 내장 함수 min()과 max()를 이용

In [ ]:
myNum = [10, 5, 12, 0, 3.5, 99.5, 42]
[min(myNum), max(myNum)]

In [ ]:
# 문자열에 대해서도 최솟값과 최댓값을 구하는 예
myStr = 'zxyabc'
[min(myStr), max(myStr)]

In [ ]:
# 각각 튜플과 세트에서 최솟값과 최댓값을 구하는 예
myNum = (10, 5, 12, 0, 3.5, 99.5, 42)
[min(myNum), max(myNum)]

In [ ]:
myNum = {"Abc", "abc", "bcd", "efg"}
[min(myNum), max(myNum)]

## 절댓값과 전체 합을 구하는 함수
절댓값: 내장 함수 abs()를 이용

In [ ]:
[abs(10), abs(-10)]

In [ ]:
[abs(2.45), abs(-2.45)]

## 합계
내장 함수 sum()을 이용

In [ ]:
sumList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum(sumList)

## 항목의 개수를 구하는 함수
내장 함수 len()을 이용

In [ ]:
len("ab cd") # 문자열
len([1, 2, 3, 4, 5, 6, 7, 8]) # 리스트
len((1, 2, 3, 4, 5)) # 튜플
len({'a', 'b', 'c', 'd'}) # 세트
len({1:"Thomas", 2:"Edward", 3:"Henry"}) # 딕셔너리

시험 점수가 입력된 리스트를 대상으로 sum()과 len()을 이용해 데이터  항목의 총합과 길이, 평균값 계산

In [ ]:
scores = [90, 80, 95, 85] # 과목별 시험 점수
print("총점:{0}, 평균:{1}".format(sum(scores), sum(scores)/len(scores)))





시험 점수 중 최고점과 최하점 계산

In [ ]:
print("최하 점수:{0}, 최고 점수:{1}".format(min(scores), max(scores)))