<a href="https://colab.research.google.com/github/zzhining/python_basic/blob/master/14_module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 모듈 (Module)
- 코드가 저장된 파일
- 다른 코드에서도 이 파일의 변수, 함수, 클래스를 불러와 이용할 수 있음
---
**모듈을 사용하는 이유**
- 모듈로  나누면  코드 작성과  관리가 쉬워진다
- 이미 작성된 코드를 재사용할  수  있다
- 공동 작업이 편리해진다

**모듈 생성 및 호출**
- 모듈 이름은 확장자 (.py)를 제외한 파일 이름
- 모듈이 저장된 위치 (경로)에서 파이썬 (혹은 IPython) 콘솔 혹은 주피터 노트북을 실행해 코드를  작성하거나 파이썬 코드 파일을 실행

## 모듈 만들기
- 코드를 '모듈이름.py'로 저장
- IPython의 내장 마술 명령어인'%%writefile'을 이용

In [1]:
%%writefile my_first_module.py

def my_function():
    print("This is my first module")

Overwriting my_first_module.py

## 모듈 불러오기
```
import 모듈명
```

In [2]:
import my_first_module

In [3]:
my_first_module.my_function()

This is my first module

모듈 생성

In [4]:
%%writefile my_area.py

PI = 3.14
def square_area(a) :
    return a ** 2

def circle_area(r):
    return PI * r ** 2

Overwriting my_area.py


모듈의 변수와 함수 호출

In [5]:
import my_area                  # 모듈 불러오기

print('pi =', my_area.PI)       # 모듈의 변수 이용
print('square area =', my_area.square_area(5)) # 모듈의 함수 이용
print('circle area =', my_area.circle_area(2))

pi = 3.14
square area = 25
circle area = 12.56

## 모듈의 변수와 함수 호출
- 모듈에서 사용 가능한 변수, 함수, 클래스 확인
```
dir(모듈명)
```

In [6]:
dir(my_area)

['PI',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'circle_area',
 'square_area']

## 모듈을  불러오는 다른 형식

### 모듈의 내용 바로 선언
```
from 모듈명 import 변수명
from 모듈명 import 함수명
from 모듈명 import 클래스명
```

In [7]:
from my_area import PI # 모듈의 변수 바로 불러오기
print('pi =', PI) # 모듈의 변수 이용

pi = 3.14

In [8]:
from my_area import square_area
from my_area import circle_area

print('square area =', square_area(5)) # 모듈의 함수 이용
print('circle area=', circle_area(2))

square area = 25
circle area= 12.56

In [9]:
# 한꺼번에 선언
from my_area import PI, square_area, circle_area
print('pi =', PI) # 모듈의 변수 이용
print('square area =', square_area(5)) # 모듈의 함수 이용
print('circle area =', circle_area(2))

pi = 3.14
square area = 25
circle area = 12.56

### 모두 불러오기
모듈의 모든 변수, 함수, 클래스를 바로 모듈명 없이 바로 이용할 경우

```
from 모듈명 import *
```

In [10]:
from my_area import *
print('pi =', PI) # 모듈의 변수 이용
print('square area =', square_area(5)) # 모듈의 함수 이용
print('circle area =', circle_area(2))

pi = 3.14
square area = 25
circle area = 12.56

### 모듈명을 별명으로 선언
```
import 모듈명 as 별명

```

```
from 모듈명 import 변수명 as 별명
from 모듈명 import 함수명 as 별명
from 모듈명 import 클래스명 as 별명
```

In [11]:
import my_area as area # 모듈명(my_area)에 별명(area)을 붙임

print('pi =', area.PI) # 모듈명 대신 별명 이용
print('square area =', area.square_area(5))
print('circle area =', area.circle_area(2))

pi = 3.14
square area = 25
circle area = 12.56

In [12]:
from my_area import PI as pi
from my_area import square_area as square
from my_area import circle_area as circle

print('pi =', pi) # 모듈 변수의 별명 이용
print('square area =', square(5)) # 모듈 함수의 별명 이용
print('circle area =', circle(2))

pi = 3.14
square area = 25
circle area = 12.56

### 모듈을 직접 실행

In [13]:
%%writefile my_module_test1.py
# File name: my_module_test1.py
def func(a):
    print("입력 숫자:", a)

func(3)

Overwriting my_module_test1.py

In [14]:
%run my_module_test1.py

입력 숫자: 3

In [15]:
import my_module_test1

입력 숫자: 3

**모듈을 직접 수행하는 경우와 임포트해서 이용하는 경우를 구분할 수 있는 코드의 구조**

```
if __name__ == "__main__":
      <직접 수행할 때만 실행되는 코드>
```

```
if __name__ == "__main__":
      <직접 수행할 때만 실행되는 코드>
else:
      <임포트됐을 때만 실행되는 코드>
```

In [16]:
%%writefile my_module_test2.py
# File name: my_module_test2.py
def func(a):
    print("입력 숫자:",a)
if __name__ == "__main__":
    print("모듈을 직접 실행")
    func(3)
    func(4)

Overwriting my_module_test2.py

In [17]:
%run my_module_test2.py

모듈을 직접 실행
입력 숫자: 3
입력 숫자: 4

In [18]:
import my_module_test2

In [19]:
%%writefile my_module_test3.py

def func(a):
    print("입력숫자:", a)

if __name__ == "__main__" :
    print("모듈을 직접 실행")
    func(3)
    func(4)
else:
    print("모듈을 임포트해서 실행")

Overwriting my_module_test3.py

In [20]:
%run my_module_test3.py

모듈을 직접 실행
입력숫자: 3
입력숫자: 4

In [21]:
import my_module_test3

모듈을 임포트해서 실행

# 내장 모듈
- 파이썬에는 개발 환경을 설치할 때 내장 모듈과 다양한 공개 모듈이 함께 설치됨
- 자신이 원하는 코드를 쉽고 간편하게  작성할 수  있음

## 난수 발생 모듈
- 난수(random number): 임의의 숫자
- random 모듈을 이용해  난수를  생성

**random 모듈 사용법**
```
import random
random.random모듈함수()
```

|     함수                                  |     설명                                                                          |     사용   예                        |
|-------------------------------------------|-----------------------------------------------------------------------------------|--------------------------------------|
|     random()                              |     0.0 &lt;= 실수 &lt; 1.0 범위의   임의의 실수를 반환                           |     random.random()                  |
|     randint(a,b)                          |     a &lt;= 정수 &lt;= b의   범위의 임의의 정수 반환                              |     random.randint(1,6)              |
|     randrange([start,]   stop [,step])    |     range([start,] stop [,step])에서   임의의 정수를 반환                         |     random.randrange(0, 10, 2)       |
|     choice(seq)                           |     공백이   아닌 시퀀스(seq)에서 임의의 항목을 반환                              |     random.choice([1,2,3])           |
|      sample(population, k)                |     시퀀스로   이뤄진 모집단(population)에서   중복되지 않는 k개의 인자를 반환    |     random.sample([1,2,3,4,5], 2)    |

In [22]:
import random
random.random()

0.8846642535075359

In [23]:
import random

dice1 = random.randint(1,6) # 임의의 정수가 생성됨
dice2 = random.randint(1,6) # 임의의 정수가 생성됨
print('주사위 두 개의 숫자: {0}, {1}'.format(dice1, dice2))

주사위 두 개의 숫자: 5, 1

In [24]:
import random
random.randrange(0,11,2)

6

In [25]:
import random

num1 = random.randrange(1, 10, 2) # 1 ~ 9(10-1) 중 임의의 홀수 선택
num2 = random.randrange(0,100,10) # 0 ~ 99(100-1) 중 임의의 10의 단위 숫자 선택
print('num1: {0}, num2: {1}'.format(num1,num2))

num1: 5, num2: 10

In [26]:
import random

menu = ['비빔밥', '된장찌개', '볶음밥', '불고기', '스파게티', '피자', '탕수육']
random.choice(menu)

'피자'

In [27]:
import random
random.sample([1, 2, 3, 4, 5], 2) # 모집단에서 두 개의 인자 선택

[1, 3]

## 날짜 및 시간 관련 처리 모듈
- datetime 모듈
    - date 클래스: 날짜를 표현
    - time 클래스: 시간을 표현
    - datetime 클래스: 날짜와 시간을  표현
- datetime 모듈의 각 클래스의 객체를 생성해 이용

```
import datatime

date_obj = datetime.date(year, month, day)
time_obj = datetime.time(hour, minute, second)
datetime_obj = datetime.datatime(year, month, day, hour, minute, second)
```

|     함수                        |     설명                                                                                                                   |     사용   예                            |
|---------------------------------|----------------------------------------------------------------------------------------------------------------------------|------------------------------------------|
|     calendar(year [,m=3])       |     지정된   연도(year)의   전체 달력을 문자열로 반환(기본   형식은 3개의 열)                                              |     calendar.calendar(2017)              |
|     month(year, month)          |     지정된   연도(year)와 월(month)의   달력을 문자열로 반환                                                               |     calendar.month(2019,1)               |
|     monthrange(year, month)     |     지정된   연도(year)와 월(month)의   시작 요일과 일수 반환. 요일의   경우 0(월요일)   ~ 6(일요일) 사이의 숫자로 반환    |     calendar.monthrange(2020,1)          |
|     firstweekday()              |     달력에   표시되는 주의 첫 번째 요일값을   반환. 기본값으로는 월요일(0)로 지정됨                                        |     calendar.firstweekday()              |
|     setfirstweekday(weekday)    |     달력에   표시되는 주의 첫 번째 요일을 지정                                                                             |     calendar.setfirstweekday(6)          |
|     weekday(year,month,day)     |     지정된   날짜[연도(year),   월(month), 일(day)]의   요일을 반환                                                        |     calendar. weekday(year,month,day)    |
|     isleap(year)                |     지정된   연도(year)가   윤년인지를 판단해 윤년이면 True를, 아니면 False를   반환                                       |     calendar.isleap(2020)                |

⭐요일 지정 상수⭐

|     요일    |     요일  지정 상수       |     숫자로 표시    |
|:-----------:|---------------------------|--------------------|
|      월     |     calendar.MONDAY       |     0              |
|      화     |     calendar.TUESDAY      |     1              |
|      수     |     calendar.WEDNESDAY    |     2              |
|      목     |     calendar.THURSDAY     |     3              |
|      금     |     calendar.FRIDAY       |     4              |
|      토     |     calendar.SATURDAY     |     5              |
|      일     |     calendar.SUNDAY       |     6              |

datetime 모듈 예제

In [28]:
import datetime

In [29]:
date_var = datetime.date(2024, 3, 1)
print(date_var)

2024-03-01

In [30]:
print('{0}/{1}/{2}'.format(date_var.year, date_var.month, date_var.day))

2024/3/1

In [31]:
day1= datetime.date(2024, 4, 1)
day2= datetime.date(2024, 7, 10)
diff_day = day2 - day1
print(diff_day)

100 days, 0:00:00

In [32]:
type(day1)

datetime.date

In [33]:
type(diff_day)

datetime.timedelta

In [34]:
print("** 지정된 두 날짜의 차이는 {}일입니다. **".format(diff_day.days))

** 지정된 두 날짜의 차이는 100일입니다. **

In [35]:
datetime.date.today()

datetime.date(2024, 6, 9)

In [36]:
today = datetime.date.today()
special_day = datetime.date(2023, 12, 31)
print(special_day - today)

-161 days, 0:00:00

In [37]:
set_time = datetime.time(15, 30, 45)
set_time

datetime.time(15, 30, 45)

In [38]:
print(set_time)

15:30:45

In [39]:
print('{0}:{1}:{2}'.format(set_time.hour,set_time.minute,set_time.second ))

15:30:45

In [40]:
import datetime
set_dt = datetime.datetime(2023, 10, 9, 10, 20, 0)
print(set_dt)
print('날짜 {0}/{1}/{2}'.format(set_dt.year, set_dt.month, set_dt.day))
print('시각 {0}:{1}:{2}'.format(set_dt.hour, set_dt.minute, set_dt.second))

2023-10-09 10:20:00
날짜 2023/10/9
시각 10:20:0

In [41]:
import datetime
now = datetime.datetime.now()
print(now)

2024-06-09 02:59:24.718110

In [42]:
print("Date & Time: {:%Y-%m-%d, %H:%M:%S}".format(now))
print("Date: {:%Y, %m, %d}".format(now))
print("Time: {:%H/%M/%S}".format(now))

Date & Time: 2024-06-09, 02:59:24
Date: 2024, 06, 09
Time: 02/59/24

In [43]:
now = datetime.datetime.now()
set_dt = datetime.datetime(2024, 12, 1, 12, 30, 45)

print("현재 날짜 및 시각:", now)
print("차이:", set_dt - now)

현재 날짜 및 시각: 2024-06-09 02:59:24.749777
차이: 175 days, 9:31:20.250223

## 달력 생성 및 처리 모듈
calendar 모듈

calendar 모듈의 예

In [44]:
import calendar
print(calendar.calendar(2024))

                                  2024

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                   1  2  3
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       4  5  6  7  8  9 10
15 16 17 18 19 20 21      12 13 14 15 16 17 18      11 12 13 14 15 16 17
22 23 24 25 26 27 28      19 20 21 22 23 24 25      18 19 20 21 22 23 24
29 30 31                  26 27 28 29               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [45]:
print(calendar.calendar(2024, m=6))

                                                                         2024

      January                   February                   March                     April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                   1  2  3       1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      12 13 14 15 16 17 18      11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      19 20 21 22 23 24 25      18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30 31                  26 27 28 29               25 26 27 28 29 30 31      29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September                  October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1          1  2  3  4  5  6                   1  2  3                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30                                                                            30 31

In [46]:
import calendar

print(calendar.month(2024, 4))

     April 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

In [52]:
# 2024년 2월 1일의 요일과 2024년 2월이 최대 몇일까지 있는지를 Tuple의 형태로 반환
calendar.monthrange(2024, 2)

(3, 29)

In [48]:
calendar.firstweekday()

0

In [49]:
calendar.setfirstweekday(calendar.SUNDAY)
print(calendar.month(2024, 9))

   September 2024
Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

In [50]:
print(calendar.weekday(2023, 10, 14))

5

In [51]:
print(calendar.isleap(2023))
print(calendar.isleap(2024))

False
True