<a href="https://colab.research.google.com/github/zzhining/python_basic/blob/master/exercise/python_exercise_dtype.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 자료형

##문자열
Q1. 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동씨의 주민등록번호를 연월일 [YYYYMMDD]  부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [ ]:
pin = "881120-1068234"
yyyymmdd = '코드를 넣으시오'
num = '코드를 넣으시오'
print('코드를 넣으시오')
print('코드를 넣으시오')

# 결과값
# 881120
# 1068234

코드를 넣으시오
코드를 넣으시오

Q2. 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자

In [ ]:
pin = "881120-1068234"
print()

#결과값
# 1

##리스트
Q1. [1,3,5,4,2]라는 리스트를 [5,4,3,2,1]로 만들어보자

In [ ]:
a = [1,3,5,4,2]
a.'코드를 넣으시오'
a.'코드를 넣으시오'
print(a)

Q2. ['Life','is','too','short']라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자

In [ ]:
a = ['Life','is','too', 'short']
result = '코드를 넣으시오'
print(result)

##튜플
Q1. (1,2,3)이라는 튜플에 4라는 값을 추가하여 (1,2,3,4)처럼 만들어 출력해 보자

In [ ]:
a = (1,2,3)
a = '코드를 넣으시오'
print(a)

##딕셔너리
Q1. 딕셔너리 a에서 'B'에 해당되는 값을 추출하고 삭제해 보자.

In [ ]:
a = {'A':90, 'B':80, 'C':70}
result ='코드를 넣으시오'
print('코드를 넣으시오') #B를 추출한 후 딕셔너리
print('코드를 넣으시오') #B에 해당되는 값

#결과값
#{'A':90, 'C':70}
# 80

##세트
Q1. a리스트에서 중복된 숫자들을 제거해보자

In [ ]:
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = '코드를 넣으시오'
b = '코드를 넣으시오'
print('코드를 넣으시오')

#결과값
#[1,2,3,4,5]

##변수
Q1. 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 아래와 같이 a, b 변수를 선언한 후 a의 첫 번째 요소값을 변경하면 b의 값은 어떻게 될까? 그리고 이런 결과가 나오는 이유에 대해서 설명해 보자

In [ ]:
a = b = [1, 2, 3]
a[1] = 4
print(b)