<a href="https://colab.research.google.com/github/zzhining/python_basic/blob/master/exercise/%EC%A1%B0%EA%B1%B4%EB%AC%B8_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 변수 number가 주어졌을 때, 숫자가 양수인지 음수인지 또는 0인지 판별하고, 해당 결과를 출력하는 코드를 작성하세요.

In [ ]:
number = -10

In [ ]:
#답을 작성하세요.

2. 변수 number가 주어졌을 때, 숫자가 짝수인지 홀수인지 판별하고, 해당 결과를 출력하는 코드를 작성하세요.

In [ ]:
number = 52

In [ ]:
#답을 작성하세요.

3. 변수 score가 주어졌을 때, 다음 기준에 따라 학점을 출력하는 코드를 작성하세요.
- 90점 이상: A
- 80점 이상 90점 미만: B
- 70점 이상 80점 미만: C
- 70점 미만: F

In [ ]:
#답을 작성하세요.

4. 변수 price와 is_discount가 주어졌을 때, is_discount가 True이면 가격에 10% 할인을 적용하고, 그렇지 않으면 원래 가격을 출력하는 코드를 작성하세요.

In [ ]:
price = 100
is_discount = True

In [ ]:
#답을 작성하세요.

5. 반복문을 사용하여 1부터 10까지의 숫자를 출력하는 코드를 작성하세요.

In [ ]:
#답을 작성하세요.

6. 위 반복문(1~10) 숫자 중, 짝수의 값만 출력하는 코드를 작성하세요.

In [ ]:
#답을 작성하세요.

7. 리스트 items와 변수 target이 주어졌을 때, for 반복문을 사용하여 target이 리스트에 있는지 확인하고, 결과를 출력하는 코드를 작성하세요.

In [ ]:
items = ["apple", "banana", "cherry"]
target = "banana"

In [ ]:
#답을 작성하세요.

8. for 반복문을 사용하여 구구단 2단의 결과물을 출력하는 코드를 작성하세요.

In [ ]:
#답을 작성하세요.

@.나이에 따라 다음과 같은 입장료를 받고 있다고 할 때, 반복문을 이용하여 1세부터 13세까지의 전체 가격표를 만드는 코드를 작성하세요.

- 3세 이하: 무료
- 3세에서 5세: 5달러
- 5세에서 9세: 10달러
- 9세에서 12세: 12달러
- 12세 이상: 사용할 수 없음 (프로그램 종료)

In [ ]:
#답을 작성하세요.