<a href="https://colab.research.google.com/github/zzhining/python_basic/blob/master/exercise/%ED%95%A8%EC%88%98_%EB%9E%8C%EB%8B%A4_%EB%AC%B8%EC%9E%90%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 두 수를 입력 받아 그 곱을 반환하는 함수를 작성하세요.

In [ ]:
#답을 작성하세요.
def multiply_numbers(a, b):

In [ ]:
#테스트
print(multiply_numbers(3, 5))  #15

2. 숫자 리스트를 입력 받아 평균을 반환하는 함수를 작성하세요.

In [ ]:
#답을 작성하세요.
def average(lst):

In [ ]:
#테스트
print(average([10, 20, 30, 40, 50])) #30

3. 주어진 숫자가 짝수이면 True, 홀수이면 False를 반환하는 함수를 작성하세요.

In [ ]:
#답을 작성하세요.
def is_even(n):

In [ ]:
# 테스트
print(is_even(14))  # True
print(is_even(20))  # False

4. 주어진 리스트의 모든 요소를 문자열로 변환하여 반환하는 람다 함수를 작성하세요.

In [ ]:
#답을 작성하세요.
multiply_numbers =

In [ ]:
# 테스트
print(multiply_numbers(3, 5))  #15

5. 두 문자열을 입력받아 합친 문자열을 반환하는 람다 함수를 작성하세요.

In [ ]:
#답을 작성하세요.
change_int_to_str =

In [ ]:
# 테스트
print(change_int_to_str([1, 2, 3, 4, 5]))  # ['1', '2', '3', '4', '5']

6. 주어진 문자열에서 모든 모음(a,e,i,o,u)을 제거한 문자열을 반환하는 함수를 작성하세요.

In [ ]:
#답을 작성하세요.
def remove_vowels(s):

In [ ]:
# 테스트
print(remove_vowels("abcdefghijklmnopqrstuvwxyz"))  # "bcdfghjklmnpqrstvwxyz"

7. 문자열을 입력 받아, 해당 문자열에서 가장 긴 단어와 길이를 반환하는 함수를 작성하세요.

In [ ]:
#답을 작성하세요.
def count_words_length(s):

In [ ]:
# 테스트
print(count_words_length("Life is for one generation a good name is forever."))  # "generation", 10

8. 주어진 문자열에서 숫자와 문자를 분리하는 함수를 작성하세요.

In [ ]:
#답을 작성하세요.
def divide_str_int(s):
    str_list = []
    int_list = []
    return str_list, int_list

In [ ]:
# 테스트
print(divide_str_int("a1b2c3d4")) # ["a", "b", "c", "d"], [1, 2, 3, 4]

@ 주어진 문자열(알파벳)을 입력 받아, 각 알파벳의 종류와 개수를 dict형으로 반환하는 함수를 만드세요.

In [ ]:
#답을 작성하세요.
def alphabet_count(s):

In [ ]:
# 테스트
print(alphabet_count("hello"))  # {"h": 1, "e": 1, "l": 2, "o": "1"}